<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<section class="hero is-primary">
    <div class="hero-body">
        <h3 class="title cf">
            <%= team_name %> - <%= team_desc %>
        </h3>
        <h1 class="subtitle cf2">Team Code : <%= team_code %>
        </h1>
        <form action="/teams/code/<%= team_code %>/delete" method="POST">
            <a class="button is-warning" href="/teams/code/<%= team_code %>">Back To Team</a>
            <input class="button is-danger" type="submit" value="Delete Team" />
        </form>
    </div>
</section>

<div class="columns is-centered">
    <div class="column is-6">
        <h3 class="title m-5 cf has-text-centered">Edit Team</h3><br>
        <form method="POST">
            <div class="p-5">
                <div class="">
                    <div class="field">
                        <label class="label">Team Name</label>
                        <div class="control">
                            <input name="team_name" class="input" type="text" value="<%= team_name %>" />
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Team Description</label>
                        <div class="control">
                            <input name="team_desc" class="input" type="text" value="<%= team_desc %>" />
                        </div>
                    </div>

                    <div class="field">
                        <label class="label"> Select Course : </label>
                        <div class="select">
                            <select name="course">
                                <option>Select Course</option>

                                <% for(let i=0; i < allCourses.length; i++) { %>
                                <option <%=(allCourses[i].COURSE_ID===course_id) ? "selected" : "" %>><%=
                                            allCourses[i].COURSE_ID %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                    </div>

                    <p class="control">
                        <button class="button is-primary" type="submit">Submit</button>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
<%- include('./partials/footer.ejs') %>