<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="p-5 columns">

  <div class="column is-9 p-5">
    <h3 class="cf is-size-4">Your Teams</h3>
    <div class="cards">
      <% for (let i=0; i < teamsInfo.length; i++){ %>
      <a class="box m-3" href="/teams/code/<%= teamsInfo[i].TEAM_CODE %>">
        <article class="message is-primary">
          <div class="message-body">
            <h1 class="title is-size-6 cf"> <%= teamsInfo[i].TEAM_NAME %> </h1>
          </div>
        </article>
      </a>
      <% } %>
    </div>

    <div class="column px-1 my-3 is-6">
      <h class="is-size-4 cf"> Your Notifications </h>
        <% for (let i=0; i < userNotifications.length; i++) { %>
      <div class="box">
        <div class="">
          <a href="/deleteNotification/<%= userNotifications[i].NOTIFICATION_ID %>" 
            class="delete is-danger is-medium is-pulled-right">Delete</a>
          <p class="cf is-size-6"> <%= userNotifications[i].TITLE %> </p>
          <p class="p-5"> <%- userNotifications[i].CONTENT %> </p>
          <p class="p-1 sml"> <%= userNotifications[i].TIMESTAMP %> </p>
        </div>
      </div>
        <% } %>
    </div>
  </div>
  <div class="column is-3 p-5">
    <h2 class="is-size-4 cf">Your Chats</h2>
    <% for(let i=0; i<latestMessages.length; i++){ %>
    <% if (latestMessages[i].TO_USER==user_id ) { %>
    <a class="my-1 message is-primary" href="/chat/<%= latestMessages[i].FROM_USERNAME %>">
      <div class="box">
        <p class="cf2">
          <%= latestMessages[i].FROM_USERNAME.toUpperCase() %>
        </p>
        <p class="sml">
          <%= latestMessages[i].FROM_USERNAME.toUpperCase() %> : <%= latestMessages[i].MESSAGE %>
        </p>
      </div>
    </a>
    <% } else { %>
    <a class="my-1 message is-primary" href="/chat/<%= latestMessages[i].TO_USERNAME %>">
      <div class="box">
        <p class="cf2">
          <%= latestMessages[i].TO_USERNAME.toUpperCase() %>
        </p>
        <p class="sml"> You : <%= latestMessages[i].MESSAGE %>
        </p>
      </div>
    </a>

    <% } %>
    <% } %>

    <h2 class="is-size-4 cf py-3"> Create a new chat </h2>
    <div class="columns p-5 is-centered">
      <form action="/chat/create" method="POST">
        <div class="field has-addons">
          <div class="control">
            <input class="input" type="text" name="other_user" placeholder="Username">
          </div>
          <div class="control">
            <button class="button is-primary">Create</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
        Built with <strong>NodeJS</strong> and <strong>OracleDB</strong> by <a href="https://github.com/Sohaib03">Sohaib</a> and <a href="https://github.com/quvi007">Quvi</a>. 
        This site is licensed under <a href="https://www.mozilla.org/en-US/MPL/2.0/">MPL 2.0</a> 
    </p>
  </div>
</footer>
<%- include('./partials/notification_below.ejs') %>
<%- include('./partials/footer.ejs') %>