<<<<<<< HEAD
<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<h2> Welcome : <%= username %> </h2>  

<h3> Your Teams </h3>

<% for (let i=0; i<teamsInfo.length; i++){ %>
<p> TEAM NAME : <%= teamsInfo[i].TEAM_NAME %> <p>
<% } %>

    <% if (locals.notification) { %>
        <div class="notification <%= notification.status %>">
            <button class="delete"></button>
            <%= notification.content %>
        </div>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item">Save</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
      </footer>
    </div>
  </div>

  <%}%>
</div>

<% if (locals.notification) { %>
<div class="notification <%= notification.status %>">
  <button class="delete"></button>
  <%= notification.content %>
</div>
<% } %>

<svg>
  <style>
    .notification {
      position: absolute;
      width: 300px;
      right: 10px;
      bottom: 10px;
    }
  </style>
</svg>
<script src="/js/notification.js"></script>
<%- include('./partials/footer.ejs') %>
