<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<h2> Welcome : <%= username %> </h2>  

<h3> Your Teams </h3>

<div class="cards">
<% for (let i=0; i<teamsInfo.length; i++){ %>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        TEAM <%= i+1 %>
      </p>
      <button class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </header>
    <div class="card-content">
      <div class="content">
        <a href="/teams/code/<%= teamsInfo[i].TEAM_CODE %>"><p> TEAM NAME : <%= teamsInfo[i].TEAM_NAME %> <p> </a>
      </div>
    </div>
  </div>
<% } %>
</div>


<% if (locals.notification) { %>
<div class="notification <%= notification.status %>">
  <button class="delete"></button>
  <%= notification.content %>
</div>
<% } %>

<svg>
  <style>
.cards {
    display: flex;
    flex-wrap: wrap;
    margin-left : -8px;
    margin-right : -8px;
}
    .card {
        margin: 8px;
    }
    .notification {
      position: absolute;
      width: 300px;
      right: 10px;
      bottom: 10px;
    }
  </style>
</svg>
<script src="/js/notification.js"></script>
<%- include('./partials/footer.ejs') %>
