<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<section class="hero is-primary">
    <div class="hero-body">
        <h3 class="title cf">
            <%= team_name %> - <%= team_desc %>
        </h3>
        <h1 class="subtitle cf3"> Team Code : <%= team_code %>
        </h1>
        <a class="button is-warning" href="/teams/code/<%= team_code %>">Back To Team</a>
        <a class="cf2 button is-info" href="/resource/<%= team_code %>">Resources</a>
    </div>
</section>

<div class="columns is-centered">
    <% if (team_role !== "student") {%>
    <div class="column is-4 p-5">
        <p class="is-size-4"> Invite User </p>
        <form action="/teams/code/<%= team_code %>/participants/invite" method="POST">
            <label class="label">Username</label>
            <input name="invitedUserName" class="input" type="text">
            <label class="label">Team Role</label>
            <div class="select is-rounded">
                <select name="invitedUserRole" class="input">
                    <option value="student">Student</option>
                    <option value="instructor">Instructor</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <button class="button is-primary" type="submit"> Invite </button>
        </form>
    </div>
    <%}%>
    <div class="column is-4 p-5">
        <article class="panel is-primary">
            <p class="panel-heading has-text-centered">
                Current Participants
            </p>
            <% for (let i=0; i < participants.length; ++i) {%>
    <a class="panel-block">
        <%=participants[i].USERNAME%>
    </a>
    <%}%>
        </article>
    </div>
    <div class="column is-4 p-5">
        <article class="panel is-warning">
            <p class="panel-heading has-text-centered">
                Invited Participants
            </p>
            <% for (let i=0; i < invitedParticipants.length; ++i) {%>
    <div class="panel-block">
        <form action="/teams/code/<%=team_code%>/deleteInvitation/<%=invitedParticipants[i].USER_ID%>" method="POST">
            <%=invitedParticipants[i].USERNAME%> - <%=invitedParticipants[i].ROLE%><br>
            <% if (team_role !== "student") {%>
            <button class="button is-danger is-small is-light" type="submit">Delete</button>
            <% } %>
        </form>
    </div>
    <%}%>
        </article>
    </div>
</div>
<%- include('./partials/footer.ejs') %>