<%- include('./partials/header.ejs') %>
  <%- include('./partials/navbar.ejs') %>

    <div class="columns is-centered">
      <div class="box column is-6">
        <h1 class="title cf px-5 pt-5">Resources for <%= team_name %>
        </h1>
        <h2 class="cf px-5 pb-2">
          <%= team_desc %>
            <a class="button is-small is-danger is-light is-pulled-right" href="/teams/code/<%= team_code%>">Back to
              Team</a>
        </h2>

        <% if (team_role !=='student' ) { %>
          <p class="subtitle px-5 cf2 is-size-5"> Add New Resource </p>
          <form method="POST" enctype="multipart/form-data">
            <div class="columns px-5">
              <div class="column is-6">
                <div class="field">
                  <label class="label">Title</label>
                  <div class="control">
                    <input name="title" class="input" type="text" />
                  </div>
                </div>

                <div class="field">
                  <label class="label">Description</label>
                  <div class="control">
                    <input name="desc" class="input" type="text" />
                  </div>
                </div>

                <div id="file-js-example" class="file has-name">
                  <label class="file-label">
                    <input class="file-input" type="file" name="file" />
                    <span class="file-cta">
                      <span class="file-label"> Choose a file… </span>
                    </span>
                    <span class="file-name"> No file uploaded </span>
                  </label>
                </div>

                <p class="control mt-5">
                  <button class="button is-primary" type="submit">Submit</button>
                </p>
              </div>
            </div>
          </form>
          <% } %>
            <hr>
            <h2 class="cf px-5"> Available Resources </h2>
            <div class="column p-5 is-6">
              <% for (let i=0; i<allResource.length; i++) {%>
                <div class="message is-info p-2 col">
                  <p class="cf p-2">
                    <%= allResource[i].TITLE %>
                  </p>
                  <p class="cf2 p-2 is-size-7">
                    <%= allResource[i].DESCRIPTION %>
                  </p>
                  <a class="button m-2 is-primary is-small"
                    href="/file/download/<%= allResource[i].FILE_PATH %>">Download</a>
                  <% if (team_role !=='student' ) { %>
                    <a class="button m-2 is-danger is-small is-pulled-right"
                      href="/resource/<%= team_code%>/delete/<%= allResource[i].RESOURCE_ID %>">Delete</a>
                    <% } %>
                </div>
                <% } %>
            </div>
      </div>

    </div>


    <script>
      const fileInput = document.querySelector(
        "#file-js-example input[type=file]"
      );
      fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
          const fileName = document.querySelector(
            "#file-js-example .file-name"
          );
          fileName.textContent = fileInput.files[0].name;
        }
      };
    </script>

    <%- include('./partials/notification_below.ejs') %>
      <%- include('./partials/footer.ejs') %>