<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<div class="columns is-centered">
    <div class="box column is-6 ">
        <h1 class="title is-size-4 p-5"><%= ass_info.ASSIGNMENT_TITLE %>
        <% if(is_submitted){ %>
            <p> <span class="tag is-primary">Submitted</span> </p> 
        <% } %>
        <% if (team_role !== 'student') { %>
        <a href="/assignment/delete/<%= ass_info.ASSIGNMENT_ID %>" class="button is-danger is-pulled-right"> Delete </a>
        <% } %>
        </h1>
        <h1 class="is-size-5 p-2"> Description: </h1>
        <h1 class="content p-2"><%= ass_info.ASSIGNMENT_DESC %> </h1>
        <% if (ass_info.FILE_URL) { %>
        <a class="button is-light is-primary m-2" href="/file/download/<%= ass_info.FILE_URL%>"> Download File </a>
        <% } %>
        <h1 class="is-size-6 p-2"> Status : <%= (ass_info.DUE ? 'DUE' : 'ONGOING') %></h1>
        <h2 class="is-size-6 p-2"> Time Left : <%= ass_info.DAYS%> Day(s) <%= ass_info.HOURS %> Hour(s) <%= ass_info.MINS%> Min(s) </h2>
        <% if (team_role === 'student') { %>
        <form method="POST"  action="/assignment/submit/<%= ass_info.ASSIGNMENT_ID %>" enctype="multipart/form-data">

    <div id="file-js-example" class="file has-name">
      <label class="file-label">
        <input class="file-input" type="file" name="file">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
        <span class="file-name">
          No file uploaded
        </span>
      </label>
    </div>
    <p class="control">
        <button class="button is-primary" type="submit">
            Submit
        </button>
    </p>
        </form>
        <% } else {%>
        <a href="/" class="button is-primary"> Start Grading </a>
        <% } %>

    </div>
    
</div>
<script>
  const fileInput = document.querySelector('#file-js-example input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-js-example .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>

<%- include('./partials/notification_below.ejs') %>
<%- include('./partials/footer.ejs') %>
