<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<section class="hero is-primary">
  <div class="hero-body">
    <h3 class="title"> <%= team_name %> - <%= team_desc %> </h3>
    <h1 class="subtitle"> Team Code : <%= team_code %> </h1>
    
    <form action="/teams/code/<%= team_code %>/leave" method="POST">
      <button class="button is-danger" type="submit"> Leave Team </button>
    </form>

  </div>
</section>

<div class="columns">
  <div class="column is-3">
    <div>
      <table class="column table">
        <tr>
          <th> Participants </th>
        </tr>
        <% for (let i=0; i<participants.length; i++) { %>
        <tr>
          <td> <%= participants[i].USERNAME %> </td>
        </tr>
        <% } %>
      </table>
    </div>
    <div>
      <h2 class=" has-text-centered is-size-5 "> Discussions </h2>
      <h1 class="m-3">General</h1>
      <h1 class="m-3">Quiz 1</h1>
      <h1 class="m-3">Quiz 3</h1>
    </div>
    <div class="box">
        <h2 class="has-text-centered is-size-5"> Pending Assignments </h2>
        <% for (let i=0; i<assignments.length; i++) { %>
        <p>  </p>
        <a class="box" href="/assignment/<%= assignments[i].ASSIGNMENT_ID %>"> <%= assignments[i].ASSIGNMENT_TITLE  %></a>
        <% } %>

    </div>
  </div>

  <div class="column is-9">
    <div>
    </div>

    <div>
      <b>Assignments</b><br>

      <div class="cards">
        <% for (let i=0; i<assignments.length; i++){ %>
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
            Assignment <%= i+1 %>  <% if (assignments[i].DAYS == 0) {%> <span class="tag is-warning m-2">Less than a day</span> <% } %>
            </p>
            <button class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </header>
          <div class="card-content">
            <div class="content">
              <p> <b><%= assignments[i].ASSIGNMENT_TITLE %> <b>
                    <p>
                    <p> Deadline: <%= assignments[i].DEADLINE %>

                    <p>
        <a class="button is-primary is-small" href="/assignment/<%= assignments[i].ASSIGNMENT_ID %>"> View </a>
            </div>
          </div>
        </div>
        <% } %>
      </div>

    </div>

    <% if (role === 0) { %>
    <div class="p-5">
      <form action="/assignment/create/<%= team_id %>/<%= team_code %>" method="get" accept-charset="utf-8">
        <button class="button is-primary">Create Assignment</button>
      </form>
    </div>
    <div class="column is-6">
      <p class="is-size-4"> Create a New Notification </p>
      <form action="/teams/code/<%= team_code %>/notify" method="POST">
        <label class="label">Title </label>
        <input name="notif_title" class="input" type="text">
        <label class="label">Details </label>
        <input name="notif_content" class="input" type="text">
        <button class="button is-primary" type="submit"> Notify </button>
      </form>
    </div>

    <% } %>

    <div class="column is-6">
      <h class="is-size-4"> Notifications </h>
      <div class="box">
        <% for (let i=0; i<notifications.length; i++) { %>
        <div class="list-item">
          <p> <%= notifications[i].TITLE %> </p>
          <p><%= notifications[i].CONTENT %> </p>
          <p><%= notifications[i].TIMESTAMP %> </p>
          <hr />
        </div>
        <% } %>
      </div>
    </div>


    <div class="column is-6">
      <h1 class="is-size-4"> General </h1>
      <div class="box">
        <% for (let i=0; i<discussion.length; i++) { %>
        <div class="list-item">
          <p><%= discussion[i].CONTENT %> </p>
          <p><%= discussion[i].USERNAME%> </p>
          <p><%= discussion[i].TIMESTAMP %> </p>
          <hr />
        </div>
        <% } %>
      </div>
      <form action="/dis/123/<%= team_code %>/<%= team_id %>" method="POST">
        <div class="field has-addons">
          <div class="control">
            <input class="input" type="text" name="message" placeholder="Send a message">
          </div>
          <div class="control">
            <button class="button is-primary">Send</button>
          </div>
        </div>
      </form>
    </div>


    <% if (role === 0) { %>
    <div class="column is-6">
      <p class="is-size-4"> Invite User </p>
      <form action="/teams/code/<%= team_code %>/invite" method="POST">
        <label class="label">Username</label>
        <input name="invitedUserName" class="input" type="text">
        <label class="label">Team Role</label>
        <div class="select is-rounded">
          <select name="invitedUserRole" class="input">
            <option>Student</option>
            <option>Instructor</option>
            <option>Admin</option>
          </select>
        </div>
        <button class="button is-primary" type="submit"> Invite </button>
      </form>
    </div>

    <% } %>
  </div>


</div>
<%- include('./partials/notification_below.ejs') %>
<%- include('./partials/footer.ejs') %>
