<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="columns is-centered">
    <div class="column is-4 p-5">
        <article class="panel is-warning">
            <p class="panel-heading has-text-centered">Pending Assignments</p>
            <% for (let i=0; i<assignments.length; i++) { %>
            <p> </p>
            <a class="box" href="/assignment/<%= assignments[i].ASSIGNMENT_ID %>">
                <%= assignments[i].ASSIGNMENT_TITLE %><br>
                <%= assignments[i].TEAM_NAME%><br>
                <%= assignments[i].HOURS %> hours left.
            </a>
            <% } %>
        </article>
    </div>
    <div class="column is-4 p-5">
        <article class="panel is-success">
            <p class="panel-heading has-text-centered">Completed Assignments</p>
            <% for (let i=0; i<completed_assignments.length; i++) { %>
            <p> </p>
            <a class="box" href="/assignment/<%= completed_assignments[i].ASSIGNMENT_ID %>">
                <%= completed_assignments[i].ASSIGNMENT_TITLE %>
                <br>
                <%= completed_assignments[i].TEAM_NAME%><br>
                Submitted at: <%= completed_assignments[i].SUBMISSION_TIME %>
            </a>
            <% } %>
        </article>
    </div>
</div>

<%- include('./partials/notification_below.ejs') %>
<%- include('./partials/footer.ejs') %>